* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#fullpage {
    width: 100%;
    margin: auto;
}
a:link, a:visited {
    text-decoration: none;
    color: $vscolor-primary-black;
    font-weight: bold;
//     opacity: 0.5;
}
a:hover, a:active {
    opacity: 1;
    color: $vscolor-golden-yellow;
    text-decoration: underline;
	// text-decoration: underline;
}