$vscolor-primary-black: #191816;
$vscolor-light-white: #F8F4E9;
$vscolor-golden-yellow: #F2D7A0;
$vscolor-sunset-coral: #F9AF96;
$vscolor-purple-haze: #F7BDF8;
$vscolor-electric-blue: #A0BBF2;

$very-big: 25em;
$big: 12.5em;
$large: 6em;
$normal: 3.2em;
$small: 1.6em;
$very-small: 0.8em;

#page {
    width: 80%;
    margin: auto;
}
.fullscreen {
    width: 100%;
    height: 100vh;
}
p {
    font-size: $very-small;
    max-width: 800px;
}
h1 {
    font-size: $large;
    margin: 0;
    line-height: 1;
}
h2 {
    font-size: $normal;
}
h3 {
    font-size: $small;
}
