$vscolor-primary-black: #191816;
$vscolor-light-white: #F8F4E9;
$vscolor-golden-yellow: #F2D7A0;
$vscolor-sunset-coral: #F9AF96;
$vscolor-purple-haze: #F7BDF8;
$vscolor-electric-blue: #A0BBF2;

$very-big: 25em;
$big: 12em;
$large: 6em;
$normal: 2em;
$small: 1.6em;
$very-small: 0.8em;