.section {
    height: 100vh;
        & .container {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.years {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    &__text {
        font-weight: bold;
        font-size: $normal;
        padding-bottom: 2em;
    }
}
.xp__square-deco {
    width: 75%;
}
.xp__title {
    display: flex;
    justify-content: flex-end;
    & h1 {
        font-size: $big;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: -0.25em;
            left: -0.25em;
            width: 300px;
            height: 300px;
            border: 1px solid $vscolor-primary-black;
            opacity: 0.25;
        }
    }
}
.xp__desc {
    display: flex;
    max-width: 1000px;
    padding-top: 2em;
    &__left {
        width: 25%;
    }
    &__right {
        width: 75%;
        &__job-skills {
            padding-left: 2rem;
            max-width: 400px;
        }
    }
    &__right h4 {
        font-weight: normal;
        padding-bottom: 2em;
    }

}
.skills {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    &:first-child h1 {
        padding-left: 0.25em;
    }
    &__table {
        display: flex;
        flex-direction: row;
        min-width: 70%;
        justify-content: stretch;
        padding-top: 2em;
    }
    &__col {
        width: 100%;
        display: flex;
        justify-content: center;
        & li {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0.25em;
            font-size: $small;
        }
    }
}
.hobbies {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    text-align: right;
    padding-top: 6em;
    padding-right: 6em;
    background-image: url(/public/img/VS_larochelle01.jpg);
}
.hiking {
    background-image: url(/public/img/women-tshirt-artem-beliaikin-Z3euOGBMEHI-unsplash.jpg);
}