.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.hero__title {
    font-size: $very-big;
    // line-height: 0.5;
}
.hero__subtitle {
    font-size: $large;
    font-weight: 400;
    line-height: 1;
}