.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__title {
    font-size: $very-big;
}
.hero__subtitle {
    font-size: $large;
    font-weight: 400;
}