.quote {
    display: flex;
}
.quote-left {
    text-align: center;
}
.quote-left__mark {
    font-size: $very-big;
}
span.quote-left__mark {
    display: inline-block;
    overflow: hidden;
    line-height: 0.6;
    margin-top: -20px;
}
.quote-left__date-and-time {
    margin-top: -20px;
}
.quote__string {
    font-size: $very-small * 1.5;
    margin-left: 2em;
    display: flex;
    align-items: center;
        &:after {
            margin-left: 0.5em;
            font-weight: 700;
            content: "»";
        }
}
