.scroll {
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
.scroll__diamond {
    width: 100px;
    height: 100px;
    border: 1px solid $vscolor-primary-black;
    position: relative;
    top: -100px;
    left: 0;
    transform: rotate(45deg);
}